# Validate the file using e.g.
# https://rhysd.github.io/actionlint/

name: Test Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  example-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
           version: [4.5.2, 10.0]
    steps:
    - uses: actions/checkout@v4

    - name: Run make for basic example
      run: make build/solution_name_v${{ matrix.version }}.zip

    - name: Save artifact
      uses: actions/upload-artifact@v4
      with:
          name: solution_name_v${{ matrix.version }}.zip
          path: build/*
